<nav role="navigation" class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('home') }}">{{ _("Toolhub") }} <i class="fal fa-tools"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {# main nav #}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('tools:home') }}">Tools</a>
            </li>
        </ul>
        {# auth nav #}
        <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('profile', pk=request.user.pk) }}">{{ _("Profile") }} <i class="fal fa-id-card"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('tools:home') }}?user={{request.user.pk}}">{{ _("Your Tools") }} <i class="far fa-wrench"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="user-menu">
                    <img src="{{user.get_avatar_url(24)}}" height="24" width="24" />
                    {{ user.get_full_name()|default(user.email, True) }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="user-menu">
                    {% if user.is_staff %}
                        <a class="dropdown-item" tabindex="-1" href="{{ url('admin:index') }}"><i class="fal fa-unlock-alt"></i> {{ _("Admin") }}</a>
                    {% endif %}
                    <a class="dropdown-item" tabindex="-1" href="{{ url('home') }}">{{ _("Your Account") }}</a>
                    <h6 class="dropdown-header">{{ _("Profile Custommizations") }}</h6>
                    <a class="dropdown-item" tabindex="-1" href="{{ url('home') }}">{{ _("My Info") }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" tabindex="-1" href="{{ url('logout') }}">{{ _("Logout") }}</a></li>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('login') }}">{{ _("Login") }}</a>
            </li>
        {% endif %}
      </ul>
  </div>
</nav>
