{% extends "layouts/sub_header_base.jinja" %}

{% block head_title %}{{ _("Clear users for") }} {{ tool }}{% endblock %}

{% block sub_header %}{{ _("Clear users for") }} {{ tool }}{% endblock %}

{% block content %}
    {{ crispy(form) }}
{% endblock %}
