{% extends "layouts/base.jinja" %}
{% from "macros/badges.jinja" import taxonomy_list, availability_badge %}

{% block head_title %}{{ tool }}{% endblock %}

{% block content %}
<div class="row">
    {# left column #}
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                {# at a glance Tool info #}
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h1 class="d-inline">{{ tool }}</h1>
                        {{ availability_badge(tool, extra_classes="sup small align-top") }}
                        <h6><span class="text-uppercase text-muted small">owner:</span> {{ tool.user }}</h6>
                    </div>
                    <div class="col-lg-4">
                        <p>{{ taxonomy_list(tool.taxonomies.all()) }}</p>
                        {% if tool.is_loaned() %}
                            <span>{{ _("Currently checked out by:") }} <strong>{{ tool.history.latest_loan().user }}</strong></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4">
            {% markdown %}{{ tool.description }}{% endmarkdown %}
        </section>
    </div>
    {# right column #}
    <div class="col-md-3">
        <h3>{{ _("History") }}</h3>
        <div class="list-group">
        {% set history_count = tool.history.count() %}
        {% set history_display_count = 6 %}
        {% for item in tool.history.all()[:history_display_count] %}
            <div class="list-group-item">
                {{ item.get_action_display() }} by {{ item.user }}<br>
                <small class="font-weight-light text-muted">{{ item.created|date("SHORT_DATETIME_FORMAT") }}</small>
            </div>
            {% if loop.last and history_count > history_display_count %}
                <a class="list-group-item list-group-item-action list-group-item-primary" href={{ url('tools:history', pk=tool.pk) }}>View all history</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
