{% extends "layouts/sub_header_base.jinja" %}
{% from "partials/pagination.jinja" import pagination %}
{% from "partials/links.jinja" import object_link %}

{% block head_title %}{{ _("Tools Clearance") }}{% endblock %}

{% block sub_header %}{{ tool }} {{ _("Clearance") }}{% endblock %}

{% block content %}
 <div class="list-group mb-4">
    {% for item in cleared_items.all() %}
        <div class="list-group-item">
            {{ item.cleared_by_user }} cleared {{ object_link(item.cleared_user, "profile-link") }} {{ item.created|naturaltime }}<br>
            <small class="font-weight-light text-muted">{{ item.created|date("SHORT_DATETIME_FORMAT") }} </small>
        </div>
    {% endfor %}
</div>
{{ pagination(is_paginated, paginator, page_obj, _("Tool cleared people navigation")) }}
{% endblock %}
