{% extends "layouts/sub_header_base.jinja" %}

{% block head_title %}{{ _("Register a Tool") }}{% endblock %}

{% block sub_header %}{{ _("Register a Tool") }}{% endblock %}

{% block content %}
    {{ crispy(form) }}
{% endblock %}
