{% extends "layouts/base.jinja" %}

{% block page_title %}
    Create a tool
{% endblock %}

{% block content %}
    {{ crispy(form) }}
    <script>
        $.fn.select2.defaults.set( "theme", "bootstrap" );
    </script>
{% endblock %}
