{% extends "layouts/sub_header_base.jinja" %}
{% from "macros/badges.jinja" import taxonomy_list, availability_badge %}
{% from "macros/links.jinja" import object_link %}
{% from "macros/tool_card.jinja" import tool_details_card %}
{% from "partials/pagination.jinja" import pagination %}

{% block head_title %}{{ _("Filter Tools") }}{% endblock %}

{% block sub_header %}{{ _("Filter Tools") }}{% endblock %}

{% block sub_actions %}
<div class="btn-toolbar" role="toolbar" aria-label="{{ _('Tool actions') }}">
    <div class="btn-group">
        <a href="{{ url('tools:create') }}" class="btn btn-success">{{ _('Register a Tool') }}</a>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <h3>Filters</h3>
        {{ crispy(filter.form) }}
    </div>
    <div class="col-md-9">
        <div class="row">
        {% for tool in tools %}
        <div class="col-sm-6 col-md-4 mb-4">
        {% call tool_details_card(tool, user) %}
            <p class="card-text"><small class="text-uppercase">owner:</small> {{ object_link(tool.user, "profile-link") }}</p>
        {% endcall %}
        </div>
        {% else %}
        <div class="col-sm-12">
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <h5 class="card-title mb-0">{{ _("No Tools found") }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {{ pagination(is_paginated, paginator, page_obj, _("Tool page navigation")) }}
    </div>
</div>

{% endblock %}
