{% extends "layouts/sub_header_base.jinja" %}
{% from "partials/badges.jinja" import taxonomy_list, availability_badge %}
{% from "partials/links.jinja" import object_link %}

{% block head_title %}{{ tool }}{% endblock %}

{% block sub_header_block %}
{# TODO: a better check in the future, as non-owners can possibly admin certain things #}
{% if request.user == tool.user %}
   {{ super() }}
{% endif %}
{% endblock %}

{% block sub_header %}
    {{ _("Admin") }}
{% endblock %}

{% block sub_actions %}
<small class="text-muted">{{ url('tool_short', pk=tool.pk) }}</small>
<div class="btn-toolbar" role="toolbar" aria-label="{{ _('Tool actions') }}">
    {# TODO: only show this group to owner for now #}
    <div class="btn-group mr-2">
        <a href="{{ url('tools:edit', pk=tool.pk) }}" class="btn btn-warning">{{ _('Edit') }}</a>
        <a href="{{ url('tools:delete', pk=tool.pk) }}" class="btn btn-danger">{{ _('Delete') }}</a>
    </div>
    <div class="btn-group">
        <a href="{{ url('tools:clear', pk=tool.pk) }}" class="btn btn-success">{{ _('Clear Person') }}</a>
        {# TODO: remove clearance #}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {# left column #}
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                {# at a glance Tool info #}
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <h1 class="d-inline">{{ tool }}</h1>
                        {{ availability_badge(tool, extra_classes="sup small align-top") }}
                        <h6><span class="text-uppercase text-muted small">owner:</span> {{ object_link(tool.user, "profile-link") }}</h6>
                    </div>
                    <div class="col-lg-4">
                        <p>{{ taxonomy_list(tool.taxonomies.all()) }}</p>
                        {% if tool.is_in_use() %}
                            <span>{{ _("Currently checked out by:") }} <strong>{{ object_link(tool.history.latest_borrow().user, "profile-link") }}</strong></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col flex-grow-0">
                {% if tool.user_can_borrow(user) and not tool.is_in_use() %}
                    {{ borrow_button(tool) }}
                {% endif %}
                {% if tool.is_in_use() %}
                    {{ return_button(tool) }}
                {% endif %}
            </div>
        </div>
        <section class="my-3">
            {{ markdown(tool.description) }}
        </section>
    </div>
    {# right column #}
    <div class="col-md-3">
        <h3>{{ _("History") }}</h3>
        <div class="list-group mb-3">
        {% set history_count = tool.history.count() %}
        {% set history_display_count = 6 %}
        {% for item in tool.history.all()[:history_display_count] %}
            <div class="list-group-item">
                {{ item.get_action_display() }} by {{ object_link(item.user, "profile-link") }}<br>
                <small class="font-weight-light text-muted">{{ item.created|date("SHORT_DATETIME_FORMAT") }}</small>
            </div>
            {% if loop.last and history_count > history_display_count %}
                <a class="list-group-item list-group-item-action list-group-item-primary" href={{ url('tools:history', pk=tool.pk) }}>View all history</a>
            {% endif %}
        {% endfor %}
        </div>
        <h3>{{ _("Cleared") }}</h3>
        {% set cleared_count = tool.permissions.count() %}
        {% set cleared_display_count = 6 %}
        {% for item in tool.permissions.all()[:cleared_display_count] %}
            <div class="list-group-item">
                {{ object_link(item.cleared_user, "profile-link") }}<br>
                <small class="font-weight-light text-muted">{{ item.created|date("SHORT_DATETIME_FORMAT") }}</small>
            </div>
            {% if loop.last and cleared_count > cleared_display_count %}
                <a class="list-group-item list-group-item-action list-group-item-primary" href={{ url('tools:cleared', pk=tool.pk) }}>View all cleared People</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
