[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.7"
django-mptt = "==0.9.0"
pycatalog = "==1.2.0"

[dev-packages]

[requires]
python_version = "3.7"
