{% extends "layouts/sub_header.jinja" %}

{% block head_title %}Bad request{% endblock %}

{% block sub_header %}
What were you even trying to do?
{% endblock %}

{% block content %}
<p>This is not the page you were looking for.</p>
{% endblock content %}
