{% extends "layouts/sub_header_base.jinja" %}

{% block head_title %}{{ _("Bad request") }}{% endblock %}

{% block sub_header %}
{{ _("What were you even trying to do?") }}
{% endblock %}

{% block content %}
{{ exception }}
{% endblock content %}
