{% extends "layouts/sub_header_base.jinja" %}

{% block head_title %}{{ _("Forbidden") }}{% endblock %}

{% block sub_header %}
{{ _("Not without the magic words!") }}
{% endblock %}

{% block content %}
{{ exception }}
{% endblock content %}
