{% extends "layouts/sub_header.jinja" %}

{% block head_title %}Forbidden{% endblock %}

{% block sub_header %}
Not without the magic words!
{% endblock %}

{% block content %}
<p>This is not the page you were looking for.</p>
{% endblock content %}
