{% extends "layouts/sub_header_base.jinja" %}

{% block head_title %}{{ _("Page Not found") }}{% endblock %}

{% block sub_header %}
{{ _("Page Not found") }}
{% endblock %}

{% block content %}
{{ exception }}
{% endblock content %}
