{% extends "layouts/sub_header_base.jinja" %}

{% block head_title %}Server Error{% endblock %}

{% block sub_header %}
Ooops!!!
{% endblock %}

{% block content %}
<h3>Looks like something went wrong!</h3>

<p>We track these errors automatically, but if the problem persists after a day feel free to contact us.</p>
{% endblock content %}
