{% extends "layouts/base.jinja" %}
{% from "macros/badges.jinja" import taxonomy_list, availability_badge %}
{% from "macros/links.jinja" import object_link -%}
{% from "macros/tool_card.jinja" import tool_details_card %}

{% block head_title %}{{_('Home')}}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 order-lg-1 order-3">
                <h2>{{ _("Your Tools") }}</h2>
                {% for tool in user.tools.all()[:SHORT_PAGINATE_BY] %}
                {{ tool_details_card(tool, user, ['mb-4']) }}
                {% else %}
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{ _("No Tools found") }}</h5>
                    </div>
                </div>
                {% endfor %}
                <p><a href="{{url('tools:home')}}?user={{user.pk}}">{{ _("All Your Tools...") }}</a></p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 order-lg-2 order-1">
                <h2>{{ _("Borrowed Tools") }}</h2>
                {% for tool in borrowed_tools[:SHORT_PAGINATE_BY] %}
                {% call tool_details_card(tool, user, ['mb-4']) %}
                    <p class="card-text">
                        <small>owner: {{ object_link(tool.user, "profile-link") }}</small>
                    </p>
                    {{ return_button(tool) }}
                {% endcall %}
                {% else %}
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{ _("No Tools found") }}</h5>
                    </div>
                </div>
                {% endfor %}
                <p><a href="{{url('tools:home')}}?borrower={{user.pk}}">{{ _("All Borrowed Tools...") }}</a></p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4 order-lg-3 order-2">
                <h2>{{ _("Recently Added Tools") }}</h2>
                {% for tool in new_tools[:SHORT_PAGINATE_BY] %}
                {% call tool_details_card(tool, user, ['mb-4']) %}
                    <p class="card-text">
                        <small>owner: {{ object_link(tool.user, "profile-link") }}</small>
                        <br>
                        <small>added: {{ tool.created|date("SHORT_DATETIME_FORMAT") }}</small>
                    </p>
                {% endcall %}
                {% else %}
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{ _("No Tools found") }}</h5>
                    </div>
                </div>
                {% endfor %}
                <p><a href="{{url('tools:home')}}">{{ _("All Tools...") }}</a></p>
            </div>
        </div>
    {% else %}
        Home is where the heart is.
    {% endif %}
{% endblock %}
