{% extends "layouts/base.jinja" %}
{% from "partials/badges.jinja" import taxonomy_list, availability_badge %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4">
                <h2>Your Tools</h2>
                {% for tool in user.tools.all() %}
                {% set classes = classlist(['card', ToolVisibility(tool.visibility).card_class] ) %}
                {% set tool_link = tool.get_absolute_url() %}
                <div {{ classes }}>
                    {% if tool.photos.exists() %}
                        {% set photo = tool.photos.latest() %}
                        <img class="card-img-top" src="{{ photo.file.file }}" alt="{{ photo.title|default('tool photo') }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ tool_link }}">{{ tool.title }}</a> {{ availability_badge(tool) }}</h5>
                        <p class="card-text">{{ tool.description|truncate(80) }}</p>
                        <p class="card-text">{{ taxonomy_list(tool.taxonomies.all()) }}</p>
                    </div>
                </div>
                {% else %}
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{ _("No Tools found") }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <h2>Borrowed Tools</h2>
                {% for tool in borrowed_tools.all() %}
                {% set classes = classlist(['card', ToolVisibility(tool.visibility).card_class] ) %}
                {% set tool_link = tool.get_absolute_url() %}
                <div {{ classes }}>
                    {% if tool.photos.exists() %}
                        {% set photo = tool.photos.latest() %}
                        <img class="card-img-top" src="{{ photo.file.file }}" alt="{{ photo.title|default('tool photo') }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ tool_link }}">{{ tool.title }}</a> {{ availability_badge(tool) }}</h5>
                        <p class="card-text">{{ tool.description|truncate(80) }}</p>
                        <p class="card-text">{{ object_link(tool.user, "profile-link") }}</p>
                        <p class="card-text">{{ taxonomy_list(tool.taxonomies.all()) }}</p>
                        <p class="card-text">{{ return_button(tool) }}</p>
                    </div>
                </div>
                {% else %}
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title mb-0">{{ _("No Tools found") }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        Home is where the heart is.
    {% endif %}
{% endblock %}
