{% macro taxonomy_list(taxonomies) %}
    {% for tax in taxonomies %}
        {{ render_taxonomy_badge(tax) }}
    {% endfor %}
{% endmacro %}

{% macro render_taxonomy_badge(tax) %}
    <span {% if tax.color %}class="badge" style="background-color: {{ tax.color }}; color: #fff;"{% else %}class="badge badge-primary"{% endif %}>
        {{ tax }}
    </span>
{% endmacro %}

{% macro availability_badge(tool) %}
    {% set state = ToolStates(tool.state) %}
    {% set label = state.label %}
    {% set type = state.badge_type %}
{% if label %}
<span class="badge badge-{{ type }}">
    {{ label }}
</span>
{% endif %}
{% endmacro %}
