{% macro taxonomy_list(taxonomies) %}
    {% for tax in taxonomies %}
        {{ render_taxonomy(tax) }}
    {% endfor %}
{% endmacro %}

{% macro render_taxonomy(tax) %}
    <span class="badge badge-primary">
        {{ tax }}
    </span>
{% endmacro %}
