{% extends "layouts/base.jinja" %}

{% block head_title %}{{ _("Login") }}{% endblock %}

{# no page header yet #}
{% block page_header %}
  <h2 class="mb-0">{{ _("Login") }}</h2>
{% endblock %}

{% block content %}
{% set socialaccount_providers = get_social_providers() %}

<div class="row justify-content-md-center">
    <h1 class="col-12 text-center">Login</h1>
{% if socialaccount_providers %}
    <div class="col-md-8">
        <div class=" card border-primary justify-content-md-center">
            <ul class="list-unstyled col-md-8 m-4 align-self-center">
                {% for provider in socialaccount_providers %}
                    {% if provider.id == "openid" %}
                        {% for brand in provider.get_brands() %}
                            <li>
                                <a title="{{brand.name}}" 
                                    class="socialaccount_provider {{provider.id}} {{brand.id}}" 
                                    href="{{ provider_login_url(provider.id, openid=brand.openid_url, process='login') }}"
                                    >{{brand.name}}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} btn btn-block btn-outline-primary" href="{{ provider_login_url(provider.id, process='login', scope=scope, auth_params=auth_params) }}">
                            <i class="fab fa-{{provider.id}}"></i> Login with <strong>{{provider.name}}</strong>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-8 text-center h3">or</div>
{% endif %}
    <div class="col-md-8">
        <div class="card border-success">
            <div class="card-body">
                {{ crispy(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_javascript %}
    {{ providers_media_js() }}
{% endblock %}
