{% macro taxonomy_list(taxonomies) %}
    {% for tax in taxonomies %}
        {{ render_taxonomy_badge(tax) }}
    {% endfor %}
{% endmacro %}

{% macro render_taxonomy_badge(tax) %}
    {% set color = tax.get_color() %}
    {% set classes = classlist(["badge", "badge-primary" if not color else "badge-custom"]) %}
    <a {{ classes }}{% if color %} style="background-color: {{ color }}; color: #fff;"{% endif %} href="{{ tax.get_absolute_url() }}">
        {{ tax }}
    </a>
{% endmacro %}

{% macro availability_badge(tool, extra_classes) %}
    {% set state = ToolStates(tool.state) %}
    {% set label = state.label %}
    {% set type = state.badge_type %}
    {% if label %}
    <span class="badge badge-{{ type }} {{ extra_classes }}">
        {{ label }}
    </span>
    {% endif %}
{% endmacro %}
