{% from "macros/badges.jinja" import taxonomy_list, availability_badge %}

{% macro tool_card(tool, user, extra_classes=[]) %}
{%- if user.has_clearance(tool) -%}
    {% set extra_classes = extra_classes + ['tool-cleared'] %}
    {% set cleared = True %}
{% else %}
    {% set cleared = False %}
{% endif %}
{% set classes = classlist(['card', ToolVisibility(tool.visibility).card_class] + extra_classes) %}
{% set tool_link = tool.get_absolute_url() %}
<div {{ classes }}>
    {% set photo = tool.cover_photo %}
    {% if photo %}
        <img class="card-img-top" src="{{ photo.file.file }}" alt="{{ photo.title|default('tool photo') }}">
    {% endif %}
    <div class="card-body">
        {{ availability_badge(tool) }}
        <h5 class="card-title"><a href="{{ tool_link }}">{{ tool.title }}</a> </h5>
        {% if caller %}
            {{ caller() }}
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro tool_details_card(tool, user, extra_classes=[]) %}
{% set detail_caller = caller %}
{% call tool_card(tool, user, extra_classes) %}
    <p class="card-text">{{ tool.description|truncate(80) }}</p>
    <p class="card-text">{{ taxonomy_list(tool.taxonomies.all()) }}</p>
    {% if detail_caller %}
        {{ detail_caller() }}
    {% endif %}
{% endcall %}
{% endmacro %}
