{% from "partials/links.jinja" import object_link -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1, shrink-to-fit=no{% endblock %}" />
        <meta name="description" content="{% block page_description %}{% endblock %}">
        <meta name="author" content="{% block page_author %}{% endblock %}">
        <title>Toolhub - {% block head_title %}{% endblock %}</title>
        <!-- BS4 CDN for now. -->
        {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block main_css %}<link rel="stylesheet" href="{{ static('main.css') }}">{% endblock %}
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body{% block body_args %}{% endblock %}>
{% block body %}
    <section id="main-wrapper" class="d-flex flex-column">
    {% block header %}
        {% include "partials/main_header.jinja" %}
    {% endblock %}

    {% block container %}
    {# If extending container make sure you call {{ super() }} at the top if messages need displayed on that page #}
    <main id="main-container" role="main" class="container py-4 flex-fill">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}
    </main> <!-- /main container -->
    {% endblock %}

    {% block footer %}
    {% include "partials/footer.jinja" %}
    {% endblock %}
    </section>
    {% block body_javascript %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}
    </body>
</html>
