<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1, shrink-to-fit=no{% endblock %}" />
        <meta name="description" content="{% block page_description %}{% endblock %}">
        <meta name="author" content="{% block page_author %}{% endblock %}">
        <title>Toolhub - {% block head_title %}{% endblock %}</title>
        <!-- BS4 CDN for now. -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
{% block body %}
    {% block header %}
        {% include "partials/main_header.jinja" %}
    {% endblock %}

    {% block container %}
    {# If extending container make sure you call {{ super() }} at the top if messages need displayed on that page #}
    <section class="container py-4">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}
    </section> <!-- /container -->
    {% endblock %}

{% endblock %}
    </body>
</html>

