{% extends "layouts/base.jinja" %}

{% block header %}
{{ super() }}
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        {% block page_header %}
        {#- you can use page_header to place header based navigation -#}
        <h3 class="mb-0 text-light">{% block sub_header %}Change Me{% endblock %}</h3>
        {% endblock %}
        {% block sub_actions %}{% endblock %}
    </div>
</nav>
{% endblock %}
